<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Communication System Powered By AI For Specially Abled</title>
</head>
<body>
    <h1>Welcome</h1>
    <button><a href="/speech_to_sign">Audio To Sign</a></button>
    <button><a href="/sign_to_speech">Sign To Audio</a></button>
    <!-- sample code -->
</body>
</html>